<div class="container-lg mb-5 mb-lg-none">

  <div class="comment-show">

    <div class="row topic-title">

      <div class="col-md-3 col-12 text-center">
        <%= attachment_image_tag(@topic, :image, size: "120x120", fallback: "no_image.jpg") %>
      </div>

      <div class="col-md-9 col-12">

        <div class="row">
          <div class="col-md-8 col-12 title mt-4 mt-md-0">
            <%= @topic.title %>
          </div>
          <div class="col-md-4 col-12 comment-show-count">
            <span class="fas fa-comment-dots"> <%= @topic.comments.count %></span>
            <span class="fas fa-shoe-prints"> <%= @topic.impressionist_count %></span>
            <span><%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></span>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-4 mt-md-0">
            <%= @topic.body %>
          </div>
        </div>

      </div>

    </div>

    <div class="border"></div>

    <div class="row">

      <div class="col-12 comment-user">
        <%= attachment_image_tag(@comment.user, :profile_image, class: "rounded-circle", size: "60x60", fallback: "no_image.jpg") %>
        <%= link_to user_path(@comment.user) do %>
          <%= @comment.user.name %>
        <% end %>
        <%= @comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>

      <div class="col-12 comment-view-image">
        <%= attachment_image_tag(@comment, :image, style: "width: 200px; height: 200px;") %>
      </div>
      <div class="col-12 comment-comment"><%= @comment.comment %></div>
      <div id="favorites_buttons_<%= @comment.id %>" class="col-sm-12 comment-favorite">
        <%= render 'favorites/favorites', comment: @comment %>
      </div>

    </div>

  </div>

  <div class="reply-form-area">
    <div class="row">

      <% if params[:re_reply].blank? %>

        <%= form_with model:[@topic, @comment, @reply], class: "col-12", id: "reply-form", local: true do |f| %>
          <%= f.text_area :reply, rows:'5', class: "col-12 form-control neumorphism-form", placeholder: ">>#{ @comment.user.name }" %>
          <div class="add-image">
            <div class="fas fa-camera"></div> <%= f.attachment_field :image %>
          </div>
          <img class='image_preview'>
          <div class="row justify-content-center reply-button">
            <%= f.submit "返信する", class: "btn btn-lg btn-white col-8" %>
          </div>
        <% end %>

      <% else %>

        <%= form_with model:[@topic, @comment, @reply], class: "col-12", id: "reply-form", local: true do |f| %>
          <%= f.text_area :reply, rows:'5', class: "col-12 form-control neumorphism-form", placeholder: ">>#{ @re_reply.user.name }" %>
          <%= f.hidden_field :re_reply_id, value: @re_reply.id %>
          <div class="add-image">
            <div class="fas fa-camera"></div> <%= f.attachment_field :image %>
          </div>
          <img class='image_preview'>
          <div class="row justify-content-center reply-button">
            <%= f.submit "返信する", class: "btn btn-lg btn-white col-8" %>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>

  <div class="border"></div>

  <%= render 'index', replies: @replies %>

</div>


