<% if admin_signed_in? %>

  <h2>管理者アカウントでログインしています。ログアウトしてからやり直してください</h2>

<% else %>

  <div id="devise-visual">

    <div id="devise-images">
      <div class="devise-image1"></div>
      <div class="devise-image2"></div>
      <div class="devise-image3"></div>
      <div class="devise-image4"></div>
    </div>

    <div class="container-fluid devise-form-area">
      <div class="row justify-content-center">

        <div class="col-12 d-none d-lg-block">
          <%= image_tag asset_path('Daddy_s_logo_white.svg'), alt: "logo", size: "150x150" %>

          <h1><b>Daddy's break</b></h1>

          <h2>Log in</h2>
        </div>

        <div class="col-12 d-block d-lg-none">
          <%= image_tag asset_path('Daddy_s_logo_white.svg'), alt: "logo", size:"100x100" %>

          <h3><b>Daddy's break</b></h3>

          <h4>Log in</h4>
        </div>

        <div class="col-12 col-sm-8 col-lg-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "devise-form" }) do |f| %>

            <div class="devise-text">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
              </span>
            </div>

            <%= f.text_field :name, autocomplete: "name", placeholder: "Name", class: "devise-user-field" %>

            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "devise-password" %>

            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "Keep login" %>
            <% end %>

            <%= f.submit "Log in", class: "devise-submit" %>

          <% end %>

          <div class="row">
            <%= render "users/shared/links" %>
          </div>

        </div>

      </div>
    </div>

  </div>

<% end %>
