<% if topics.blank? %>

  <h3 class="no-topics-text"><b>スレッドがありません。検索し直してみましょう！</b></h3>

<% else %>

  <div class="col-lg-8 col-sm-12 topic-index">
    <div class="row list-group list-group-flush">

      <% topics.each do |topic| %>
        <div class="col-sm-12 list-group-item topic-list-item">
          <div class="row">
            <div class="col-sm-3 topic-index-image">
              <%= link_to topic_path(topic) do %>
                <%= attachment_image_tag(topic, :image, size: "100x100", fallback: "no_image.jpg") %>
              <% end %>
            </div>
            <div class="col-sm-9 topic-index-title">
              <%= link_to topic_path(topic) do %>
                <%= topic.title %>
              <% end %>
              <div class="row align-items-end">
                <div class="col-sm-4 topic-index-username">
                  <%= link_to user_path(topic.user) do %>
                    By <%= topic.user.name %>
                  <% end %>
                </div>
                <div class="col-sm-4 topic-index-commentcount">
                  <%= link_to " #{topic.comments.count} コメント", topic_path(topic.id), class: "fas fa-comment-dots" %>
                </div>
                <div class="col-sm-4 topic-index-created">
                  <%= topic.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<% end %>
