<div class="container-lg">
  <%= form_with model: @topic, local: true do |f| %>
    <div class="row my-5">

      <div class="col-12 topic-edit-image">

        <div class="add-image">
          <span class="fas fa-camera"></span> <%= f.attachment_field :image %>
        </div>

        <div class="w-100">
          <%= attachment_image_tag(@topic, :image, fallback: "no-image.svg", class: "image_preview edit-image") %>
        </div>

      </div>

      <div class="col-12">
        <div class="topic-form-area">
          <%= f.text_field :title, placeholder: "タイトルを記入してください", class: "form-control neumorphism-form" %>
        </div>

        <div class="topic-form-area">
          <%= f.text_area :body, placeholder: "本文を記入してください", class: "form-control neumorphism-form" %>
        </div>

        <div class="topic-form-area">
          <%= f.collection_select :category_id, Category.where(is_active: "有効"), :id, :name, {:prompt => 'カテゴリ選択'}, {class: 'custom-select neumorphism-form'} %>
        </div>

        <div class="text-center">
          <%= f.submit "内容を更新する", class: 'btn btn-white btn-lg' %>
        </div>

      </div>
      
    </div>

  <% end %>
</div>