<div class="container-lg">
  <%= form_with model: @topic, local: true do |f| %>
    <div class="row topic-new">

      <div class="col-12 col-lg-6 topic-new-image">
        <%= attachment_image_tag(@topic, :image, fallback: "no_image.jpg", size: "300x300" ) %>
        <div class="row justify-content-center">

          <div class="add-image">
            <span class="fas fa-camera"></span> <%= f.attachment_field :image %>
          </div>

        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="topic-form-area">
          <%= f.text_field :title, placeholder: "タイトルを記入してください", class: "form-control neumorphism-form" %>
        </div>

        <div class="topic-form-area">
          <%= f.text_area :body, placeholder: "本文を記入してください", class: "form-control neumorphism-form" %>
        </div>

        <div class="topic-form-area">
          <%= f.collection_select :category_id, @categories, :id, :name, {:prompt => 'カテゴリ選択'}, {class: 'custom-select neumorphism-form'} %>
        </div>

        <div class="text-center">
          <%= f.submit "新規登録", class: 'btn btn-white btn-lg' %>
        </div>
      </div>
      
    </div>

  <% end %>
</div>