<div class="container">
  <%= form_with model: @topic, local: true do |f| %>
    <div class="row topic-new">

      <div class="col-sm-12 col-lg-6">
        <%= attachment_image_tag(@topic, :image, fallback: "no_image.jpg",size: "300x300" ) %>
        <br><%= f.attachment_field :image %>
      </div>

      <div class="col-sm-12 col-lg-6">
        <table class="table">
          <tr>
            <td><%= f.text_field :title, placeholder: "タイトルを記入してください", class: "topic-form" %></td>
          </tr>

          <tr>
            <td><%= f.text_area :body, placeholder: "本文を記入してください", class: "topic-form" %></td>
          </tr>

          <tr>
            <td><%= f.collection_select :category_id, @categories, :id, :name, :prompt => 'カテゴリ選択', class: "topic-form" %></td>
          </tr>

          <tr class="text-center">
            <td><%= f.submit "新規登録", class: 'btn btn-success btn-lg' %></td>
          </tr>
        </table>
      </div>
      
    </div>

  <% end %>
</div>