<div class="container">
  <%= form_with model: @topic, local: true do |f| %>
    <div class="row topic-new">

      <div class="col-sm-12 col-lg-6 topic-new-image">
        <%= attachment_image_tag(@topic, :image, fallback: "no_image.jpg", size: "300x300" ) %>
        <div class="row justify-content-center">

          <button class="add-image">
            <span class="fas fa-camera fa-3x"></span> <%= f.attachment_field :image %>
            <p>画像を選択</p>
          </button>

        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <table class="table">
          <tr>
            <td><%= f.text_field :title, placeholder: "タイトルを記入してください", class: "topic-form form-control" %></td>
          </tr>

          <tr>
            <td><%= f.text_area :body, placeholder: "本文を記入してください", class: "topic-form form-control" %></td>
          </tr>

          <tr>
            <td><%= f.collection_select :category_id, @categories, :id, :name, {:prompt => 'カテゴリ選択'}, {class: 'topic-form custom-select'} %></td>
          </tr>

          <tr class="text-center">
            <td><%= f.submit "新規登録", class: 'btn btn-success btn-lg' %></td>
          </tr>
        </table>
      </div>
      
    </div>

  <% end %>
</div>