<div class="topic-show">

  <div class="row topic-title">

    <div class="col-sm-2">
      <%= attachment_image_tag(@topic, :image, size: "100x100", fallback: "no_image.jpg") %>
    </div>

    <div class="col-sm-10">

      <div class="row">
        <div class="title">
          <%= @topic.title %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 topic-comment-count">
          <span class="fas fa-comment-dots"> <%= @topic.comments.count %></span>
          <span class="fas fa-shoe-prints"><%= @topic.impressionist_count %></span>
          <span><%= @topic.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </div>
        <div class="col-sm-7 comment-to">
          <%= link_to "コメントする", '#comment-form', class: "btn btn-lg btn-white" %>
        </div>
      </div>

      <% if user_signed_in? %>
        <% if current_user.id == @topic.user_id%>
          <div class="row justify-content-end">
            <%= link_to "編集する", edit_topic_path(@topic), class: "btn btn-primary topic-edit-btn" %>
            <%= link_to "削除する", topic_path(@topic), method: :delete, class: "btn btn-danger topic-destroy-btn" %>
          </div>
        <% end %>
      <% end %>

    </div>

  </div>

  <div class="row topic-body">
    <div class="col-sm-12">
      <%= @topic.body %>
    </div>
  </div>

</div>

<div class="topic-comments">

  <div class="row">
    <div class="col-sm-12">

      <%= paginate @comments %>

      <ul>
        <% @comments.each do |comment| %>
          <li class="comment-li">
            <div class="comment-user">
              <%= attachment_image_tag(comment.user, :profile_image, style: "width: 60px; height: 60px;", fallback: "no_image.jpg") %>
              <%= link_to user_path(comment.user) do %>
                <%= comment.user.name %>
              <% end %>
              <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
            </div>
            <% if current_user == comment.user %>
              <div class="comment-destroy">
                <%= link_to "削除する", topic_comment_path(comment.topic, comment), method: :delete, class: "btn btn-danger" %>
              </div>
            <% end %>
            <div class="comment-view-image">
              <%= attachment_image_tag(comment, :image, style: "width: 200px; height: 200px;") %>
            </div>
            <div class="comment-comment"><%= comment.comment %></div>
            <div class="comment-reply-button">
              <%= link_to topic_comment_path(comment.topic, comment), class: "reply-button" do %>
                <i class="fas fa-reply"> 返信する　<%= comment.replies.count %>件</i>
              <% end %>
            </div>
            <div id="favorites_buttons_<%= comment.id %>" class="comment-favorite">
              <%= render 'favorites/favorites', comment: comment %>
            </div>
          </li>
        <% end %>
      </ul>

      <%= paginate @comments %>

      <%= form_with model:[@topic, @comment], id: "comment-form", local: true do |f| %>
        <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントを書く" %>
        <div class="add-image">
          <div class="fas fa-camera"></div> <%= f.attachment_field :image %>
        </div>

        <img class='image preview' >

        <div class="row justify-content-center comment-button">
          <%= f.submit "コメントを投稿する", class: "btn btn-lg btn-white col-sm-8" %>
        </div>
      <% end %>

    </div>
  </div>

</div>