<% visitor = notification.visitor %>

<div class="col-12 notifications-index">
  <div class="row">

    <div class="col-10">
      <%= link_to user_path(notification.visitor) do %>
        <%= attachment_image_tag visitor, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "60x60", style: "border-radius: 50%;", class:"profile-img-circle" %>
      <% end %>
      <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    </div>

    <div class="col-2 text-right">
      <%= link_to notification_path(notification), method: :delete, class: "btn btn-danger" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>

  </div>

  <br>
    <div class="row">
      <div class="col-12">
        <% if notification.action == "comment"  %>
          <p class="moderate-font text-center" style="color: #3F8EFC;"><%= @comment %></p>

        <% elsif notification.action == "reply" %>
          <p class="moderate-font text-center" style="color: #3F8EFC;"><%= @reply %></p>
        
        <% elsif notification.action == "topic" %>
          <p class="moderate-font text-center" style="color: #3F8EFC;"><%= @topic %></p>

        <% end %>
      </div>
    </div>

</div>

<div class="border"></div>