<div class="container mt-5">
  <div class="row user-show">

    <div class="col-lg-5 col-sm-12 col-12 user-show-image">

      <%= attachment_image_tag(@user, :profile_image, fallback: "no_image.jpg") %>

        <% if current_user == @user %>
          <div class="user-edit-button">
            <%= link_to edit_user_path(@user) do %>
              <i class="far fa-edit fa-3x"></i>
            <% end %>
          </div>
        <% end %>

      </div>

    <div class="col-lg-5 offset-lg-1 col-sm-12 col-12 user-show-profile">

      <div class="row align-items-center">

        <div class="col-10 user-show-name">
          <b><%= @user.name %></b>
        </div>

        <div class="col-2 user-show-follow-action">
          <% if current_user != @user %>

            <% if current_user.following?(@user) %>
              <%= link_to user_relationships_path(@user.id), class: "btn btn-primary", method: :delete do %>
                <i class="fas fa-minus"></i>
              <% end %>

            <% else %>
              <%= link_to user_relationships_path(@user.id), class: "btn btn-primary", method: :post do %>
                <i class="fas fa-plus"></i>
              <% end %>
            <% end %>
          
          <% end %>
        </div>

      </div>

      <div class="row user-show-counts">

        <div class="col-4 user-show-threads">
          <h4>Thread</h4>
          <%= link_to user_topics_index_path(user: @user.id) do %>
            <%= @user.topics.count %>
          <% end %>
        </div>

        <div class="col-4 user-show-following">
          <h4>Follow</h4>
          <%= link_to user_follows_path(@user) do %>
            <p><%= @user.following.count %></p>
          <% end %>
        </div>

        <div class="col-4 user-show-follower">
          <h4>Follower</h4>
          <%= link_to user_followers_path(@user) do %>
            <p><%= @user.followed.count %></p>
          <% end %>
        </div>

      </div>

      <div class="row">

        <div class="col-12 user-show-introduction">
          <%= @user.introduction %>
        </div>

      </div>

    </div>

  </div>
</div>