<div class="about-backimage">
  <div class="about-main text-center">
    <div class="about-main-text">
      <%= image_tag asset_path('Daddy_s_logo.svg'), alt: "logo", class: "about-main-logo" %>
      <h1 class='header-font-type'>Daddy's break</h1>
    </div>
    <div class="about-login text-center">
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt"> Login</i>
      <% end %>
    </div>
  </div>
  <video src='/assets/videos/Ball-animation.mp4' class="about-back-video" muted autoplay loop controlslist="nodownload"></video>
  <%= video_tag("/assets/videos/Ball-animation.mp4", :muted => true, :loop => true, :autoplay => true, :class => "about-back-video") %>

</div>

<div class="admin-login">
  <%= link_to "admins", new_admin_session_path %>
</div>

<div class="container-lg">
  <div class="row">

    <div class="col-12 about-section">
      <div class="row align-items-center">

        <div class="col-md-5 pb-5 p-md-0 col-12 order-md-last">
          <%= image_tag asset_path("homes/about-section1.jpg"), class: "about-section-right" %>
        </div>

        <div class="col-md-7 col-12 about-section-left">
          <h3><b>Daddy’s breakで、休憩しよう</b></h3>
          <div class="about-section-content">
            <p>ここはパパさんが集まります</p>
            <p>同じ立場の人と交流して<b>休憩</b>しよう</p>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-12 about-section">
      <div class="row align-items-center">

        <div class="col-md-5 pb-5 p-md-0 col-12 text-center">
          <%= image_tag asset_path("homes/about-section2.jpg"), class: "about-section-right" %>
        </div>

        <div class="col-md-7 col-12 about-section-left">
          <h3><b>始めるためには</b></h3>
          <div class="about-section-content">
            <p>サイトの利用には会員登録が必要です</p>
            <p>まずは会員登録をしてみよう</p>
          </div>
        </div>

      </div>

    </div>

    <div class="col-12 about-section">
      <div class="row align-items-center">

        <div class="col-md-5 pb-5 p-md-0 col-12 order-md-last text-center">
          <%= image_tag asset_path("homes/about-section3.jpg"), class: "about-section-right" %>
        </div>

        <div class="col-md-7 col-12 about-section-left">
          <h3><b>なにができるの？</b></h3>
          <div class="about-section-content">
            <p>SNSのような掲示板です</p>
            <p>スレッドを立ち上げて相談したり</p>
            <p>リプライをしてフォローしたり…</p>
            <p>いますぐ交流を深めよう！</p>
          </div>
        </div>

      </div>
    </div>

  </div>

    <div class="col-12 about-section about-login-bottom">
      <div class="row">

        <h1 class="col-12 about-section-right"><b>はじめてみよう</b></h1>
        <%= link_to new_user_session_path, class: "col-12 about-section-left" do %>
          <i class="fas fa-sign-in-alt"> Login</i>
        <% end %>

      </div>
    </div>

</div>