<header class="header">
  <div class="nav navbar">
    <div class="container-lg">
      <nav class='nav'>
        <%= link_to topics_path, class: 'navbar-link' do %>
          <div class="header-logo header-font-type nav-item">
            <%= image_tag asset_path("Daddy_s_logo_white.svg"), class: "Daddy-s-logo" %>
          </div>
        <% end %>
      </nav>

      <nav class="nav d-flex d-md-none align-items-center">

        <a class="header-collapse p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fas fa-search"></i>
        </a>

        <div class="collapse" id="collapseExample">
          <%= render 'layouts/searchbar' %>
          <a class="header-inner-collapse p-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-times"></i>
          </a>
        </div>

        <%= render 'layouts/nav_dropdown' %>
      
      </nav>

      <div class="d-none d-md-block">
        <%= render 'layouts/searchbar' %>
      </div>

      <div class="nav d-none d-md-flex align-items-center">
        
        <div class="nav-item nav-button h-50">
          <%= link_to topics_today_ranking_path do %>
            <i class="fas fa-crown"> Today</i>
          <% end %>
        </div>

        <div class="nav-item nav-button h-50">
          <%= link_to topics_weekly_ranking_path do %>
            <i class="fas fa-crown"> Weekly</i>
          <% end %>
        </div>

        <div class="nav-item nav-button h-50">
          <%= link_to new_topic_path do %>
            <i class="fas fa-plus"> New</i>
          <% end %>
        </div>

        <%= render 'layouts/nav_dropdown' %>

      </div>

    </div>
  </div>
</header>