<header class="nav navbar scroll_header">
  <div class="container-lg">
    <nav class='nav'>
      <%= link_to topics_path, class: 'navbar-link d-lg-block d-none' do %>
        <div class="header-logo header-font-type nav-item">
          <%= image_tag asset_path("Daddy_s_logo.svg"), class: "Daddy-s-logo" %>
          Daddy's break
        </div>
      <% end %>
      <%= link_to topics_path, class: 'navbar-link d-lg-none d-block' do %>
        <div class="header-logo nav-item">
          <%= image_tag asset_path("Daddy_s_logo.svg"), size: "50x75", class: "pt-2" %>
        </div>
      <% end %>
    </nav>

  <div class="d-none d-md-block">
    <%= render 'layouts/searchbar' %>
  </div>

  <%= render 'layouts/nav_dropdown' %>

  </div>
</header>