<header class="nav navbar scroll_header">
  <div class="container-lg">
    <nav class='nav'>
      <%= link_to topics_path, class: 'navbar-link' do %>
        <div class="logo nav-item">
          <i class="fas fa-crown"></i>
          Daddy's break
          <i class="fas fa-crown"></i>
        </div>
      <% end %>
    </nav>

    <nav class="nav search-bar">
      <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, class: "search-form", local: true do |f| %>
            <div class="row">

              <%= f.text_field :word, class: "search-input", placeholder: "Search" %>
              <%= button_tag type: 'submit', class: "search-button" do %>
                <i class="fas fa-search edit-pen-title"></i>
              <% end %>

              <div class="search-option">

                <div>
                  <%= f.radio_button :range, :user %>
                  <%= f.label :range do %>
                    <i id="users" class="fas fa-users edit-pen-title"></i>
                    <span>Users</span>
                  <% end %>
                </div>
                <div>
                  <%= f.radio_button :range, :topic %>
                  <%= f.label :range do %>
                    <i id="threads" class="far fa-clipboard edit-pen-title"></i>
                    <span>Threads</span>
                  <% end %>
                </div>
                
              </div>
              
            </div>
          <% end %>
      <% end %>
    </nav>

    <nav>
      <ul class="nav justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= attachment_image_tag(current_user, :profile_image, fallback: "no_image.jpg", class: "header-user-icon") %>
            </a>
              <div class="dropdown-menu">
                <%= link_to user_path(current_user), class: 'dropdown-item' do %>
                  <i class="fas fa-address-card"> マイページ</i>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i>
                <% end %>
              </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path, class: 'navbar-link' do %>
              <i class="far fa-bookmark"> 初めての方はこちら</i> 
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'navbar-link' do %>
              <i class="fas fa-sign-in-alt"> ログイン</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>