<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Daddy's Break</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="d-flex flex-column h-100">

    <% if user_signed_in? %>
      <%= render 'layouts/scroll_header' %>
      <%= render 'layouts/header' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% end %>

    <%= render 'layouts/flash' %>
    
    <% if user_signed_in? %>
      <div class="d-block d-md-none fix-searchbar mt-3 px-3">
        <%= render 'layouts/searchbar' %>
      </div>
    <% end %>

    <%= yield %>

    <div class="d-none d-md-block">
      <div id="page_top"><a href="#"></a></div>
    </div>

    <%= render 'layouts/bottom_nav' %>

    <%= render 'layouts/footer' %>

  </body>

</html>