<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Daddy's Break</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="d-flex flex-column h-100">

    <% if user_signed_in? %>
      <%= render 'layouts/scroll_header' %>
      <%= render 'layouts/header' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/admin_header' %>
    <% end %>

    <%= render 'layouts/flash' %>
    <%= yield %>

    <div id="page_top"><a href="#"></a></div>

    <% if user_signed_in? %>
      <div class="d-lg-none bottom-sticky-block"></div>
      <div class="container">
        <div class="row">
          <nav class="fixed-bottom bottom-sticky-nav col-12 d-lg-none">
            <ul>

              <li>
                <%= link_to topics_today_ranking_path do %>
                  <i class="fas fa-crown"></i><span>Today's Ranking</span>
                <% end %>
              </li>

              <li>
                <%= link_to topics_weekly_ranking_path do %>
                  <i class="fas fa-crown"></i><span>Weekly Ranking</span>
                <% end %>
              </li>

              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i><span>My Page</span>
                <% end %>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <footer class="footer mt-auto py-3 d-sm-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-6">@CopyRight Daddy's break.inc</div>
            <div class="col-6 text-right"><%= link_to "What's Daddy's break?", root_path, style: "color: white;" %></div>
        </div>
        </div>
      </footer>
    <% end %>

  </body>

</html>