<!DOCTYPE html>
<html>
  <head>
    <title>DaddySBreak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <% if user_signed_in? %>
    <%= render 'layouts/scroll_header' %>
    <%= render 'layouts/header' %>
  <% end %>
  
  <body>

    <%= render 'layouts/flash' %>
    <%= yield %>

    <div id="page_top"><a href="#"></a></div>

    <div class="container">
      <div class="row">
        <nav class="fixed-bottom bottom-sticky-nav col-sm-12 d-lg-none">
          <ul>

            <li>
              <%= link_to topics_today_ranking_path do %>
                <i class="fas fa-crown"></i><span>Today's Ranking</span>
              <% end %>
            </li>

            <li>
              <%= link_to topics_weekly_ranking_path do %>
                <i class="fas fa-crown"></i><span>Weekly Ranking</span>
              <% end %>
            </li>

            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i><span>My Page</span>
              <% end %>
            </li>

          </ul>
        </nav>
      </div>
    </div>

  </body>

</html>
