<div id="login-visual">

  <div id="login-images">
    <div class="login-image1"></div>
    <div class="login-image2"></div>
    <div class="login-image3"></div>
    <div class="login-image4"></div>
    

  </div>

  <div class="login-form-area">

    <h1><b>Daddy's break</b></h1>

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-form" }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

        <%= f.text_field :name, autocomplete: "name", placeholder: "Name", class: "login-user-name" %>

        <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "login-user-name" %>

        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "login-password" %>

        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "login-password" %>

        <%= f.submit "Sign up", class: "login-submit" %>
    <% end %>

    <div class="row">
      <%= render "users/shared/links" %>
    </div>
  
  </div>

</div>