<div id="devise-visual">

  <div id="devise-images">
    <div class="devise-image1"></div>
    <div class="devise-image2"></div>
    <div class="devise-image3"></div>
    <div class="devise-image4"></div>
  </div>

  <div class="container-fluid devise-form-area">
    <div class="row justify-content-center">

        <div class="col-12 d-none d-lg-block">
          <%= image_tag asset_path('Daddy_s_logo_white.svg'), alt: "logo", size: "150x150" %>

          <h1><b>Daddy's break</b></h1>

          <h2>Sign up</h2>
        </div>

        <div class="col-12 d-block d-lg-none">
          <%= image_tag asset_path('Daddy_s_logo_white.svg'), alt: "logo", size:"100x100" %>

          <h3><b>Daddy's break</b></h3>

          <h4>Sign up</h4>
        </div>

        <div class="col-12 col-sm-8 col-lg-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise-form" }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

              <%= f.text_field :name, autocomplete: "name", placeholder: "Name", class: "devise-user-field" %>

              <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "devise-user-field" %>

              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "devise-password" %>

              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "devise-password" %>

              <%= f.submit "Sign up", class: "devise-submit" %>
          <% end %>

          <div class="row mb-5">
            <%= render "users/shared/links" %>
          </div>
        </div>

      </div>
  
    </div>
  </div>

</div>